<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1" >
    <parameter name="browserType" value="firefox"/>
    <parameter name="indexPageUrl" value="https://jdi-framework.github.io/tests/"/>
    <test name="JDISiteTesting">
        <classes>
            <class name="epam.testauto.JDISiteTest"/>
        </classes>
    </test>
</suite>
